// Google Fonts
@import url('http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Oswald');

// Font Variables
$roboto-slab: 'Roboto Slab', serif;
$open-sans: 'Open Sans', sans-serif;
$oswald: 'Oswald', sans-serif;
$open-sans-condensed: 'Open Sans Condensed', sans-serif;