@import '../../styles/fonts.scss';
@import '../../styles/screens.scss';

.app {
  display: flex;
  height: 100vh;

  @media screen and (max-width: $break-large) {
    flex-direction: column;
  }

  & > div {
    margin: 3%;

    .header {
      font-family: $oswald;
      font-size: 33px;
      margin: 0 0 20px 0;
    }

    &:first-child {
      width: 35%;

      @media screen and (max-width: $break-large) {
        width: inherit
      }
    }

    &:last-child {
      width: 65%;

      @media screen and (max-width: $break-large) {
        width: inherit
      }
    }
  }
}
